.bord {
  border: solid;
  width: 600px;
  height: 400px;
  margin-top: 80px;
  margin-left: 350px;
  padding-left: 20px;
}
.inputt {
  width: 300px;
  height: 30px;
}

.buttonn {
  width: 100px;
  height: 36px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
}
h4,
h5 {
  opacity: 0.6;
}
.buttonn2 {
  width: 100px;
  height: 36px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}
.temp {
  display: inline;
}

h3 {
  font-size: 50px;
}

.tempp {
  margin-left: 350px;
  margin-top: -190px;
}

.fo {
  font-size: 30px;
}
p {
  text-align: center;
}
